doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="./css/bootstrap.css")
        link(rel="stylesheet" href="./css/index.css")
    body
        .pane.to-dad
            .small To
            | Dad

        .pane.hb-pane
            .hb-text Happy
            .hb-text Birthday!

        .pane.coupon
            span.small I.O.U.
            .spacer
            span 1 Fish
            .spacer
            span.small love,
            span.sig Tom

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="./js/index.js")